:root {
  --dark: rgb(18, 19, 20);
  --light: rgb(239, 238, 237);
  --extra-light: rgb(255, 255, 255);
  --extra-light-transparent: rgb(255, 255, 255, 0.95);
  --red: rgb(227, 52, 47);
  --pink: rgb(234, 83, 214);
  --green: rgb(56, 193, 114);
  --blue: rgb(52, 144, 220);
  --indigo: rgb(75, 0, 130);
  --aqua: rgb(127, 255, 212);

  --text-color: var(--dark);
  --container-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
